.container {
    width: 815px;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    border: 1px solid black;
    padding: 0 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

header h2 {
    width: 50%;
}

.nav {
    width: 50%;
    font-size: 19px;
    font-weight: normal;
    text-align: right;
}

.regButton {
    display: block;
    margin: 10px auto;
}

.userName,
.password {
    display: block;
    width: 400px;
    margin: 20px auto;
}

.error {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: red;
}

.registration {
    margin-top: 50px;
}

.registration p {
    text-align: right;
    text-decoration: underline;
    color: #0000FF;
    cursor: pointer;
}

.post {
    border: 1px solid black;
    margin: 10px auto;
    display: flex;
    width: 600px;
}

.postImage {
    width: 20%;
}

.postImage img {
    display: block;
    width: 100px;
    height: 100px;
}

.img {
    width: 100px;
    height: 100px;
    background: url("../../images/message.jpg");
    background-size: cover;
}

.comments {
    width: 505px;
    margin: 0 auto;
    padding: 0 5px;
}

.addComments {
    display: block;
    width: 500px;
    resize: none;
    margin: 0 auto;
}

.addCommentsBtn,
.addPostBtn {
    display: block;
    min-width: 50px;
    height: 25px;
    color: white;
    background: dodgerblue;
    border: 1px solid dodgerblue;
    font-weight: bold;
}

.addCommentsBtn {
    margin-top: 10px;
    margin-left: auto;
}

.addPostBtn {
    margin: 0 auto;
}

.comment {
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    margin: 10px auto;
}

.commentAuthor {
    margin: 0 0 15px;
}

.allComments {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}

.addPostField,
.inputFileLabel {
    display: block;
    margin: 10px auto;
    width: 400px;
}

.inputFileLabel {
    height: 20px;
    font-size: 15px;
    border: 1px solid darkgray;
    color: darkgray;
}

.chooseImage {
    display: none;
}